@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,400;1,500;1,600&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;

    
}
.section{
    padding: 7em 0;
}
img{
    max-width: 100%;
    display: block;
}
h1,h2,h3,p{
    margin: 0;
}

.container{
    width: 85%;
    max-width: 65em;
    margin: 0 auto;

}

.split{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 30%;
    min-width: 15em;
    gap: 4em;
    justify-content: center;

}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 0.5em 1.25em;
    background: blueviolet;
    color: #fff;
    border-radius: 9px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    transition: 
      transform 250ms ease-in-out,
      opacity 250ms linear;


}

.spacing > * + *{
    margin-top: 2 rem;

}

.btn:hover,
.btn:focus{
    transform: scale(1.1);
    opacity: .9;
}

.main-title{
    font-size: 4rem;
    font-size: clamp(3em, 5vw + 1rem, 4.5rem);
    line-height: 1;
    text-transform: uppercase;


}

.section-title{
    text-align: center;
    font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
    line-height: 1;
    color: #17353d;
    margin-bottom: 5rem;



}

.hero{
    text-align: center;
    color: #fff;
    padding: 15em 0;
    
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: 
      url(img/h6.png),
      radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-position: center center;
}

.featured, .featured_items{
    display: block;
    position: relative;
    transform: scale(0.85);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    color: #333;
    text-align: center;
    line-height: 1.2;

}
.featured{
    background: #eeee;
}
.featured_items:hover, .featured_items:focus{
    transform: scale(1);
}

.featured_items::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    padding: 100% 100% 0 0;
    background: red;
    border-radius: 50%;
    background: #2193b0;
    z-index: -1;
}

span{
    display: block;
    font-weight: 700;
    font-size: 2rem;

}
.featured_details{
    opacity: 0;
    transition: opacity 250ms linear;

}
.featured_details:hover, 
.featured_details:focus{
    opacity: 1;
}

.product{
    background: radial-gradient(grey, black);
    padding: 4em 1em;
    border-radius: 3em;
    margin-bottom: 3em;
    text-align: center;
    
}
.product_title{
    font-size: 4rem;
    line-height: 1;
    color: #fff;
    text-shadow: 0 9 .2em rgba(#000, .2);

}
